.green-text {
  color: green;
}
h1 {
  font-size: 2em;
  font-family: "Comic Sans MS";
}
h2 {
  font-size: 1.5em;
  font-family: "Comic Sans MS";
}
ul {
  font-size: 1.2em;
  font-family: "Comic Sans MS";
}
.red-text {
  color: red;
}
.blue-text {
  color: blue;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}