body {
  font-family: 'Open Sans', sans-serif;
}

.sidebar{
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.content {
  margin-right: 400px;
  padding: 0px 10px;
}

.icon-button-image.jsx-swirl1 {
    background-size: contain;
    background-image: url(/download.svg);
    opacity: 1;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}